* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body {
  line-height: 1.6;
  color: #deebf3;
  background-color: #161d2b;
  padding: 20px;
}

h1 {
  color: #12af46;
  margin-bottom: 15px;
  margin-top: 2px;
  text-align: center;
  font-size: 45px;
  border-bottom: 3px solid #4caf50;
}

.command {
  background-color: #d4d4d4;
  border-left: 4px solid #4caf50;
  padding: 3px 8px;
  margin-top: 5px;
  color: #000;
}

#note{
  color: #06414b;
  background-color: #d2eff4;
  border-left: 4px solid #12d419;
  padding: 3px 8px;
  font-style: italic;
}

#error{
  color: #000000;
  background-color: #c8ad4a;
  border-left: 4px solid rgb(185, 7, 7);
  padding: 3px 8px;
  font-style: italic;
}

ul,
ol {
  margin-left: 30px;
  margin-bottom: 15px;
  padding-left: 20px;
  list-style-type: disc;

}

li {
  margin-bottom: 8px;
  font-size: 16px;
  line-height: 1.5;
  text-align: left;
  text-indent: 5px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

a {
  color: blue;
  text-decoration: none;
  font-family: "Courier New", Courier, monospace;
  font-size: 16px;
  font-weight: bold;
}

a:hover {
  color: #3d8ccc;
  text-decoration: solid;
  font-weight: lighter;

}
a:active{
  color: red;
  text-decoration: none;
}
.conclusion{
  font-weight: bolder;
}

h2,
h3,
h4 {
  color: #12af46;
  margin-top: 25px;
  margin-bottom: 10px;
  text-decoration-line: underline;
  text-decoration-color: #4caf50;
}

p {
  margin-bottom: 15px;
  text-align: justify;
}

